body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #333;
}

#weather-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.temperature, .pressure, .humidity {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px; 
}

.temperature h2, .pressure h2, .humidity h2 {
    margin-bottom: 10px;
}
#temperature-value, #pressure-value, #humidity-value {
    font-size: 24px;
}
